footer {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    padding: 1rem;
    background: var(--primary);
    color: var(--white);
}
 
.headerb {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 4rem;
}


.container__courses>a,
.container__testi {
    width: 31%;
}

.container__card>img {
    width: 100%;
    border-radius: 8px;
}

.container__space {
    display: flex;
    gap: 24px;
}

.container__space>img {
    border-radius: 50%;
    height: 140px;
    width: 140px;
}

.container__bio {
    padding: 3rem;
    width: 80%;
    margin: auto;
}

.container__courses {
    padding: 3rem;
    display: flex;
    gap: 24px;
    border-top: 1px solid var(--primary);
}
span {
    background: var(--primary-variant);
}

cite{
    color: var(--secondary);
    font-size: 12px;
    font-style: italic;
}
@media (max-width: 676px) {
    .container {
        width: calc(100%);
        margin: auto;
    }

    .container__bio {
        width: 100%;
    }
}