.headerb {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: center;
    border-bottom: 1px solid var(--primary);
    padding-bottom: 4rem;
}

.container {
    margin: auto;
    max-width: 1120px;
}

.container__bio > a, .container__testi{
    width: 31%;
}
.container__card>img {
    width: 100%;
    border-radius: 8px;
}

.container__text {
    width: 50%;
}

.container__space {
    width: 40%;
}

.container__space>img {
    border-radius: 50%;
    height: 240px;
    width: 240px;
}

.container__bio {
    padding: 3rem;
    display: flex;
    flex-wrap:wrap;
    gap: 24px;
    border-bottom: 1px solid var(--primary);
}

@media (max-width: 676px) {
    .container {
        width: calc(100%);
        margin: auto;
    }

    .container__space,
    .container__text {
        width: 100%;
    }
}